<main>
  <article class="card">
    <section class="card__image">
      <div class="card__image__title">
        <div class="card__image__name-and-attribute-icon">
          <p class="card__image__name">{{ cardDetails.name }}</p>
          <picture class="card__image__attribute-icon"
            ><img
              [src]="cardDetails.attributeImage"
              [alt]="cardDetails.attribute"
              width="80"
              height="80"
          /></picture>
        </div>
      </div>
      <div class="card__image__level">
        @for (level of levelArray; track $index) {
        <picture class="card__image__level__icon"
          ><img
            [src]="level"
            alt="A simple yellow star draw in a golden sphere."
            width="80"
            height="80"
        /></picture>
        }
      </div>
      <div class="card__image__photo-area">
        <picture class="card__image__photo"
          ><img
            [src]="cardDetails.image"
            [alt]="cardDetails.name"
            width="416"
            height="416"
        /></picture>
      </div>
      <div class="card__image__metadata">
        <p class="card__image__metadata__type">[ {{ cardDetails.type }} ]</p>
        <p class="card__image__metadata__description">
          {{ cardDetails.cardDescription }}
        </p>
        <div class="card__image__atk-def">
          <p>ATK / {{ cardDetails.atk }}</p>
          <p>DEF / {{ cardDetails.def }}</p>
        </div>
      </div>
    </section>
    <section class="card__data-and-buttons">
      <div class="card__data">
        <h1>{{ cardDetails.name }}</h1>
        <div class="card__data__attribute-level">
          <div class="card__data__attribute flex-group">
            <picture class="card__data__attribute-icon"
              ><img
                [src]="cardDetails.attributeImage"
                [alt]="cardDetails.attribute"
                width="80"
                height="80"
            /></picture>
            <p>Wind</p>
          </div>
          <p class="card__data__level">Level {{ cardDetails.level }}</p>
        </div>
        <p class="card__data__type">{{ cardDetails.type }}</p>
        <p class="card__data__description">{{ cardDetails.cardDescription }}</p>
        <div class="card__data__atk-def flex-group">
          <p>ATK: {{ cardDetails.atk }}</p>
          <p>DEF: {{ cardDetails.def }}</p>
        </div>
      </div>
      <div class="buttons">
        <button class="button update">Update Card</button>
        <button class="button delete">Delete Card</button>
      </div>
    </section>
  </article>
</main>
