main {
  width: 50rem;
  margin-inline: auto;
  padding-block: 1.5rem;
  display: grid;
  gap: 1.5rem;
}

h1 {
  text-align: center;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bolder);
}

form {
  display: grid;
  gap: 2rem;
  padding: 1rem;
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.url {
  grid-column: span 2;
}

.form__wrapper__field {
  display: flex;
  flex-direction: column;
}

label {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
}

input {
  padding-inline: 0.4rem;
}

textarea {
  padding: 0.4rem;
  height: 100%;
  resize: none;
}

button {
  width: 10rem;
  padding: 0.5rem;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: var(--clr-tertiary-200);
  margin-inline: auto;
}

button:hover {
  background-color: var(--clr-tertiary-400);
}
