header {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-primary-400);
  padding: 1rem 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a {
  color: #5B3E26;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
}

.active {
  font-weight: var(--fw-bold);
  color: #5B3E26;
  border: 0.1rem solid #5B3E26;
  border-radius: 0.4rem;
}
