.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #C7A86F;
  padding: 1rem 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1rem;
}

a {
  color: #5B3E26;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
}

.active {
  font-weight: bold;
  color: #5B3E26;
  border: 2px solid #5B3E26;
  border-radius: 0.4rem;
}
